# Copyright 2013 Dell Inc.
# ALL RIGHTS RESERVED.
#
# This software is the confidential and proprietary information of
# Dell Inc. ("Confidential Information"). You shall not
# disclose such Confidential Information and shall use it only in
# accordance with the terms of the license agreement you entered
# into with Dell Inc.
#
# DELL INC. MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT
# THE SUITABILITY OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED,
# INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
# NON-INFRINGEMENT. DELL SHALL NOT BE LIABLE FOR ANY
# DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING
# OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.


# *** JVM Baseline Configuration ***
#
# JVM Heap Settings
# -----------------
# When declaring JVM Heap settings (-Xmx / -Xms), these values will be set as the client's baseline heap configuration.
# Any deployments that negotiate additional memory allocations will be *added* to the baseline heap.
# For example,
# should the client require a max heap of 1024m in order to support a deployment set (i.e. one that does not or cannot
# negotiate memory settings), then you would declare vm heap setting parameters here in order to allocate this memory.
#
# When deployments are handled that negotiate heap settings, their allocation requests must fit within the clients
# configured baseline heap and the total physical memory available to the process.
#
# Allocating a large heap size here may impact the ability for future deployments to negotiate increase memory settings.
#
# JVM System Properties
# ---------------------
# In addition to JVM Heap settings, JVM system properties (i.e -D) can also be declared here as baseline values. Should
# an existing deployment that has successfully negotiated a competing system property to one that has be declared here,
# the deployment's property value will be used.
#
# For instance, a deployment has successfully negotiated a system property -Dremote.port=4440 and the client restarted.
# Should at a future date, the client be shutdown and this file edited to declare a new value for this property; for
# example: -Dremote.port=5555. Then on client restart, it is expected that the deployment setting for this property
# will take precedence to the value that was assign from processing this file.
#
#
# Declaring VM Parameters
# -----------------------
# When setting VM parameters, the format should be
#
#   "vmparameter" + "." + "a sequential number" + "=" + "the VM option" + ";"
#
# For example:
#
# vmparameter.0 = "-Xmx128m";
# vmparameter.1 = "-ea";
#
# Parameters must be sequentially numbered and the option parsing code
# will stop once it fails to find the next sequentially numbered parameter.
# All parameters must be terminated by a semi-colon.
#

# vmparameter.0 = "";
# vmparameter.1 = "";
# vmparameter.2 = "";
# vmparameter.3 = "";
# vmparameter.4 = "";
