# Copyright 2013 Dell Inc.
# ALL RIGHTS RESERVED.
#
# This software is the confidential and proprietary information of
# Dell Inc. ("Confidential Information"). You shall not
# disclose such Confidential Information and shall use it only in
# accordance with the terms of the license agreement you entered
# into with Dell Inc.
#
# DELL INC. MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT
# THE SUITABILITY OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED,
# INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
# NON-INFRINGEMENT. DELL SHALL NOT BE LIABLE FOR ANY
# DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING
# OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.


# *** Remote JMX Management ***
#
remote.management = true;

# *** IPv6 Support ***
#
# By default, IPv6 support is enabled. If this causes problems on a specific machine,
# or IPv6 support is not required, this can be commented out or set to false.
ipv6 = true;

# *** Disable Deployment Overrides ***
#
# Set this value to true in order to disable the resource settings negotiation
# from occurring when an AgentPackage is deployed.
disable.overrides = false;

# *** Allow Deployment Resource Conflicts ***
#
# Comma separated list of deployed Agent Package names that will
# allow deployment when resource request conflicts are encountered
allow.agent.package.resource.conflict = '';

# *** User specified Java VM ***
#
# By default, FglAM will use the JRE that it was installed with. If, for
# some reason, this is not acceptable, an alternate JRE can be specified.
#
#   ** THIS IS NOT RECOMMENDED **
#
# For example:
#
# java.vm = "/opt/sun/sun-jdk-1.5.0.19/jre";
#   or
# java.vm = "../../shared_java_vms/sun-jdk-1.5.0.19/jre";
#
# Relative paths are resolved against the FglAM installation directory,
# not the current state directory. Backslashes (\) must be escaped
# and quotes should NOT be used. The value must be terminated with a
# semi-colon.

# java.vm = "C:\\shared_java_vms\\1.5\\jre";
# java.vm = "/opt/shared_java_vms/1.5/jre";

# *** GC Thread Cap ***
#
# The Java VM scales the number of GC threads (and the related number of CMS GC threads)
# based on the number of processors in the system. On very large systems (> 256 processors)
# this can result in more threads that are actually necessary for FglAM and has been known
# to result in CPU starvation and system instability.
#
# FglAM implements the following additional limits by default:
#
#   1  -  31 processors: use VM computed values
#   >= 32 processors:    use 24 GC threads
#
# The number of CMS threads is always set to 3/4 the number of GC threads.
#
# The number of GC threads can be set with this config option, or the FglAM limit
# can be removed by setting it to "disable"
#
# For example:
#   gc.thread.cap = "disable";
#   gc.thread.cap = "64";

# *** JVM Args ***
#
# To set JVM Arguments (memory size, -D property values), see the file located in this same directory
#
#     baseline.jvmargs.config
#
# for editing and declaring these settings
#
