# Copyright 2013 Dell Inc.
# ALL RIGHTS RESERVED.
# 
# This software is the confidential and proprietary information of
# Dell Inc. ("Confidential Information").  You shall not
# disclose such Confidential Information and shall use it only in
# accordance with the terms of the license agreement you entered
# into with Dell Inc.
# 
# DELL INC. MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT
# THE SUITABILITY OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED,
# INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
# NON-INFRINGEMENT. DELL SHALL NOT BE LIABLE FOR ANY
# DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING
# OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.



# Configuration file for com.quest.common.test.findbugs.FindForbiddenDeclarations
#
# This file is broken up into two sections, forbidden field declarations
# and forbidden method declarations.
#
# Both sections have the same semantics. Map keys are matched against strings
# constructed from field or method access modifiers by concatenating the following:
#   1. access part of a method or field declaration in its canonical form
#   2. " : "
#   3. access part the containing class declaration in its canonical form
# for example: "public static final : public final".
# The first matching entry determines whether the declaration is forbidden or not.
# If no entries match the key the declaration is allowed.
#
# In addition to that there are two elements for excluding specific fields and
# methods from this test. Note: ExcludedFields element is a MethodList but it
# is applied to full field names, so the parameter section will always be absent
# from the signature.

ForbiddenFieldDeclarations = {
	/: private/   : false, # private classes can use any access modifiers on their fields
	/final.* :/   : false, # 'final' fields can be public, private or protected
	/private.* :/ : false, # 'private' fields can be 'final' or 'non-final' 
	/./           : true,  # non-private but not 'final' fields are forbidden in non-private classes
};

#
# Remember that you want to "include" the names and patterns in the excluded list.
#
ExcludedFields = MethodList (
	# And all the JAXB generated code, which we have no control over
	include /^com\.quest\.glue\..+schema\./,
);

ForbiddenMethodDeclarations = {
};

ExcludedMethods = MethodList (
);
