# Copyright 2013 Dell Inc.
# ALL RIGHTS RESERVED.
# 
# This software is the confidential and proprietary information of
# Dell Inc. ("Confidential Information").  You shall not
# disclose such Confidential Information and shall use it only in
# accordance with the terms of the license agreement you entered
# into with Dell Inc.
# 
# DELL INC. MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT
# THE SUITABILITY OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED,
# INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
# NON-INFRINGEMENT. DELL SHALL NOT BE LIABLE FOR ANY
# DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING
# OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.


#
# Configuration file for com.quest.common.test.findbugs.FindLogMessageBugs.
#

# This configuration element lists log messages that are present in
# LogResource.properties files but are used only by native code, or cannot
# be properly identified by the FindBugs test code.
#
# Entries should be strings of the format
# "com.sitraka.pas.blah.MyClass.logMessageId". For example:
# "com.sitraka.pas.agent.plugin.periodic.PdhMetricsCollector.couldNotGetCounterValue",
#
NativeOnlyMessages = (
);

# This configuration element lists any additional classes that are allowed
# to log messages in addition to the default Quest common logger.  Any methods
# that are found will be checked against the set of log resources when this
# test searched for unused/missing log resources.
#
# For example, the common logger would be configured as:
# "com.quest.common.log.LogCategory" : (
#     "log",
#     "logOnce",
#     "config",
#     "getMessage"
# )
#
CustomLoggers = {
    # FglAM agents use a specialized logger for its agents.  This logger
    # ensures that the log messages it writes will be redirected to the correct
    # output file and associated with their instance name.
    "com.quest.glue.api.services.LogService$Logger" : (
        "log",
        "logOnce",
    ),
};

