# Copyright 2013 Dell Inc.
# ALL RIGHTS RESERVED.
# 
# This software is the confidential and proprietary information of
# Dell Inc. ("Confidential Information").  You shall not
# disclose such Confidential Information and shall use it only in
# accordance with the terms of the license agreement you entered
# into with Dell Inc.
# 
# DELL INC. MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT
# THE SUITABILITY OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED,
# INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
# NON-INFRINGEMENT. DELL SHALL NOT BE LIABLE FOR ANY
# DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING
# OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.

# Configuration file for com.quest.common.test.findbugs.FindForbiddenClassReferences.

#
# Allowed packages is a map listing the packages that are allowed to be reference
# by various parts or the code. Forbidden packages is a map listing the classes
# and packages that *cannot* be reference by various parts of the code.
#
# The key is a fully qualified class name (String or regex)
# The value is a ClassList that includes all the classes and packages that
# are allowed to be referenced by the key'd class. 
#
# Definitions:
#   Key   - the name of the class being check
#   Value - The class or list of classes that "key" can reference, or is forbidden
#           from referencing.
#
# Order of checks:
#   1. If a key matches the AllowedPackages, then we check to see
#      if the value is allowed. If it is not, then it it is forbidden and
#      we stop checking. This is useful when a package or class is allowed to
#      refer to only a very small subset of classes.
#   2. If a key matches the ForbiddenPackages, then we check to see
#      if the value if forbidden. If it is not then it is allowed and we
#      stop checking. This is useful when you want to exclude a very small list
#      of classes or packages.
#

AllowedPackages = {
	# The API packages can only refer to core Java classes and themselves.
	/^com\.quest\.glue\.api\./ : ClassList (
		include /^java\./,
	    include /^com\.quest\.glue\.api\./,
	),

    # Schema classes are allowed to reference themselves (and pretty much anything else)
	/^com\.quest\.glue\.messages\.schema\./ : ClassList (
		include /.*/,
	),
	"com.quest.glue.messages.AbstractSchemaFactory" : ClassList (
		include /^java\./,
		include /^com\.quest\.glue\.messages\.schema\./,
		include "com.quest.glue.common.util.SchemaBinding",
	),
	/^com\.quest\.glue\.messages\.SchemaFactory.+/ : ClassList (
		include /^java\./,
		include "com.quest.glue.messages.SchemaVersion",
		include /^com\.quest\.glue\.messages\.I.+/,
		include /^com\.quest\.glue\.messages\.SchemaFactory/,
		include /^com\.quest\.glue\.messages\.schema\./,
	),
	# Needs to refer to the top level envelope classes, but nothing else
	# in the generated message schema.
	"com.quest.glue.messages.AbstractMessageFactory" : ClassList (
		include /^java(x)?\./,
		include /^com\.quest\.common\./,
		include /^com\.quest\.glue\.common\.util\./,
		include /^com\.quest\.glue\.messages\.schema\.v.*\.Envelope/,
		include "com.quest.glue.common.comms.MeteredDataSample",
		include "com.quest.glue.common.comms.MeteredInputStream",
		include "com.quest.glue.messages.AbstractSchemaFactory",
		include "com.quest.glue.messages.MessageFactory",
		include "com.quest.glue.messages.MessageFactoryListener",
		include "com.quest.glue.messages.IEnvelope",
	),
	"com.quest.glue.messages.MessageFactory" : ClassList (
		include /^com\.quest\.glue\.messages\.schema\.v.*\.Envelope/,
		include "com.quest.glue.messages.AbstractMessageFactory",
		include "com.quest.glue.messages.AbstractMessageFactoryMBean",
		include "com.quest.glue.messages.MessageFactoryMBean",
		include "javax.xml.bind.JAXBException",
	),
};

ForbiddenPackages = {
    # The installer/config code must not use GlueHome, as that will not
	# point to the destination install directory
	#
	# XXX: This does not currently work as com.quest.glue.core.config.ParsedGlueConfig
	#      can (and should) access GlueHome. Perhaps I'll move that class out of the
	#      .config package someday.
	#
	# /^com\.quest\.glue\.core\.config\./ : ClassList (
	#    include "com.quest.glue.common.GlueHome",
    # ),
	
	# The generated schema classes cannot be referenced outside the schema packages
	# Exceptions are listed in the AllowedPackages section
	/^com\.quest\.glue\./ : ClassList (
        include /^com\.quest\.glue\.messages\.schema\./,
	),
};
