# Copyright 2013 Dell Inc.
# ALL RIGHTS RESERVED.
# 
# This software is the confidential and proprietary information of
# Dell Inc. ("Confidential Information").  You shall not
# disclose such Confidential Information and shall use it only in
# accordance with the terms of the license agreement you entered
# into with Dell Inc.
# 
# DELL INC. MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT
# THE SUITABILITY OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED,
# INCLUDING BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR
# NON-INFRINGEMENT. DELL SHALL NOT BE LIABLE FOR ANY
# DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING
# OR DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.


# This is a configuration file for com.quest.common.test.findbugs.ConfigurableObligationPolicy
#
# This file defines obligation policies in addition to the default FingBugs
# obligation policies that are enforced by the FindUnsatisfiedObligation detector.
#
# There are two configuration entries:
# * ObligationAddingMethods - defines methods that create obligations
# * ObligationDeletingMethods - defines methods that remove obligations
# Each of these entries has the same structure, it maps MethodLists to
# class names. When a matching method call is encountered by the detector
# an obligation to clear the associated resource (of the specified type)
# will be either created or removed (according to the configuration entry name).
#
# Example:
# ObligationDeletingMethods = {
#   MethodList (
#       include "com.quest.common.util.CommonFileUtil.close(Ljava/io/InputStream;)V"
#   ) : "java.io.InputStream"
# };

ObligationAddingMethods = {};

ObligationDeletingMethods = {};
